.root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.root,
.wrapper {
  margin-top: 70px;
}

.header {
  margin: 0 auto;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: #fff;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.link {
  color: purple;
  font-size: 26px;
  text-decoration: none;
}

.active {
  color: red;
  text-decoration: underline;
}
